In [1]:
import pyspark
from pyspark.sql import SparkSession

In [11]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('sql') \
    .getOrCreate()

23/06/21 22:30:48 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
/Users/chitra/dummy/bp_zoom/venv/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

# Creating the dataframes

In [12]:
df_green = spark.read.parquet('data/pq/green/*/*')
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

# Combined dataset

In [13]:
common_colums = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_colums.append(col)

In [14]:
from pyspark.sql import functions as F

In [15]:
df_green_sel = df_green \
    .select(common_colums) \
    .withColumn('service_type', F.lit('green'))

df_yellow_sel = df_yellow \
    .select(common_colums) \
    .withColumn('service_type', F.lit('yellow'))

In [16]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [17]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [18]:
df_trips_data.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

# SQL

In [19]:
df_trips_data.registerTempTable('trips_data')

/Users/chitra/dummy/bp_zoom/venv/lib/python3.7/site-packages/pyspark/sql/dataframe.py:330: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [20]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [21]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [22]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         250|2020-01-01 00:00:00|       green|  19288.010000000057|              1266.75|                  171.5|         47.57000000000001|           978.4800000000006|                   226.20000000000286|          21984.359999999928|                                 0.0|         1.355072463768116|        5.27563015312132|
|          12|2020-01-01 00:00:00|       green|              161.01|                  5.5|                    1.0|                       0.0|                       12.24|                                  1.2|                      180.95|                                null|                      null|      0.7150000000000007|
|         148|2020-01-01 00:00:00|       green|  1506.7899999999997|                 83.5|                    3.5|                       0.0|          48.959999999999994|                   14.400000000000013|          1657.1500000000005|                                 0.0|                       1.0|       7.221875000000002|
|         188|2020-02-01 00:00:00|       green|    45876.0200000001|               4048.5|                  480.0|         512.0100000000001|           550.7200000000005|                    588.6000000000021|           52174.29999999988|                                66.0|        1.1980874316939891|       3.839839243498818|
|           7|2020-03-01 00:00:00|       green|   76390.65999999993|              2712.25|                 3488.5|         6102.550000000001|           882.6300000000006|                   2203.4999999998754|            93256.0400000091|                             1443.75|         1.460755197284684|       2.296466063958982|
|         128|2020-02-01 00:00:00|       green|  2242.7000000000003|               114.75|                   34.5|         78.99000000000002|           70.11999999999999|                   28.500000000000046|          2598.1099999999997|                               13.75|        1.0151515151515151|       5.076407766990291|
|         118|2020-03-01 00:00:00|       green|               218.3|                  1.5|                    1.5|                     12.22|                         0.0|                                  1.8|                      235.32|                                 0.0|                      2.25|       7.208333333333333|
|          58|2020-10-01 00:00:00|       green|              225.51|                  0.0|                    0.0|                      26.0|                        6.12|                   2.6999999999999997|                      263.08|                                null|                      null|        5.84111111111111|
|         165|2020-01-01 00:00:00|       green|  24802.129999999972|               1549.0|                  189.5|        101.14999999999999|          495.95000000000033|                   268.80000000000445|           27427.27999999991|                                11.0|        1.1891891891891893|       4.462666025024059|
|          88|2020-01-01 00:00:00|       green|   4146.879999999999|               223.75|                   16.0|                       0.0|           273.0900000000001|                    30.30000000000005|           4690.020000000001|                                 0.0|                       1.0|      11.439108910891084|
|         216|2020-02-01 00:00:00|       green|  19758.420000000046|               1245.0|                  110.0|        102.96000000000001|           424.2500000000003|                    195.3000000000017|          21843.379999999932|                                 5.5|        1.1793893129770991|       6.703884785819801|
|          73|2020-03-01 00:00:00|       green|             1188.69|                 8.25|                    9.5|                      12.9|          48.959999999999994|                   18.900000000000023|          1287.1999999999994|                                 0.0|        1.0952380952380953|       5.374444444444445|
|          64|2020-01-01 00:00:00|       green|   4218.469999999997|               273.25|                   20.0|                      3.26|          128.52000000000004|                    41.69999999999996|           4687.150000000002|                                 0.0|        1.4583333333333333|       6.679932885906039|
|         181|2020-10-01 00:00:00|       green|  19117.400000000038|                142.5|                  239.5|        2084.5800000000004|          212.13000000000005|                   300.60000000000565|           22221.45999999989|                                90.5|        1.1533742331288344|      3.6815453639082727|
|          48|2020-01-01 00:00:00|       green|   3266.299999999999|                220.0|                   19.0|                       0.0|          128.00000000000003|                   32.700000000000045|                      3666.0|                                 0.0|                       1.0|        7.99761467889908|
|         113|2020-01-01 00:00:00|       green|             1049.91|                 78.0|                    3.0|                       0.0|                       36.72|                   10.800000000000004|                     1178.43|                                 0.0|                       2.0|       7.130833333333332|
|         168|2019-12-01 00:00:00|       green|                20.0|                  0.5|                    0.5|                       0.0|                         0.0|                                  0.3|                        21.3|                                 0.0|                       1.0|                    6.54|
|         204|2020-02-01 00:00:00|       green|              101.96|                 2.75|                    0.5|                       0.0|                       12.24|                                  0.3|                      117.75|                                null|                      null|                   35.62|
|         206|2020-03-01 00:00:00|       green|  393.16999999999996|                  3.5|                    3.5|                      7.96|           72.46000000000001|                    3.599999999999999|          484.19000000000005|                                 0.0|        3.2857142857142856|       9.602500000000001|
|          92|2020-02-01 00:00:00|       green|   58603.95999999994|              2375.25|                 1217.0|         2973.050000000001|           796.6300000000005|                    921.2999999999516|           67048.79000000213|                              151.25|        1.1366245694603903|       4.383409018228328|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [23]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')

In [7]:
spark.stop()